# vim swap files

.*.sw[op]

# Build products

stage/
src/bgc.html
src/bgc-wide.html
src/bg-css*.html
src/bgc_*.pdf
src/split
src/split-wide
src/bgc_temp*

__pycache__

# Misc

foo
foo.[ch]
bar
bar.[ch]
baz
baz.[ch]
.vscode/*