somefile.txt
anotherfile.txt

# Generate with
#
# !!ls *.c | sed s/\.c$//
CMPLX
acos
acosh
alignas
alignof
asin
asinh
assert
atan
atanh
bool
cabs
cacos
cacosh
carg
casin
casinh
catan
catanh
cbrt
ccos
ccosh
cexp
cimag
clog
conj
copysign
cos
cosh
cpow
cproj
creal
csin
csinh
csqrt
ctan
ctanh
errno
exp
exp2
expm1
fabs
fclose
fdim
feclearexcept
fegetenv
fegetexcept
fegetround
feholdexcept
feof_ferror
feraiseexcept
fetestexcept
feupdateenv
fflush
fgetpos
fgets
float
fma
fmin_fmax
fmod
fopen
fpclassify
fread
freopen
frexp
fseek
ftell
fwrite
getc
ilogb
imaxabs
imaxdiv
isalnum
isalpha
isblank
iscntrl
isdigit
isfinite
isgraph
isgreater
isinf
islessgreater
islower
isnan
isnormal
iso646
isprint
ispunct
isspace
isunordered
isupper
isxdigit
ldexp
limits
localeconv
log
log10
log1p
log2
logb
lrint
lround
max_align_t
modf
nan
nextafter
nexttoward
offsetof
perror
printf
ptrdiff_t
putc
puts
raise
remainder
remove
remquo
rename
round
scalbn
scanf
setbuf
setjmp
setlocale
signal
signbit
sin
sinh
size_t
static_assert
strtoimax
tan
tanh
tmpfile
tmpnam
tolower
toupper
trunc
ungetc
va_arg
va_copy
va_end
va_start
vprintf
vscanf
wcstoimax
