# Generate with
#
# !!ls *.c | sed s/\.c$//
acos
acosh
asin
asinh
assert
atan
atanh
cabs
cacos
cacosh
carg
casin
casinh
catan
catanh
cbrt
ccos
ccosh
cexp
cimag
clog
CMPLX
conj
cos
cosh
cpow
cproj
creal
csin
csinh
csqrt
ctan
ctanh
errno
exp2
exp
expm1
fabs
feclearexcept
fegetenv
fegetexcept
fegetround
feholdexcept
feraiseexcept
fetestexcept
feupdateenv
float
fpclassify
frexp
ilogb
imaxabs
imaxdiv
isalnum
isalpha
isblank
iscntrl
isdigit
isfinite
isgraph
isinf
islower
isnan
isnormal
iso646
isprint
ispunct
isspace
isupper
isxdigit
ldexp
limits
localeconv
log10
log1p
log2
logb
log
modf
perror
scalbn
setlocale
signbit
sin
sinh
static_assert
strtoimax
tan
tanh
tolower
toupper
wcstoimax
