somefile.txt
anotherfile.txt

# Generate with
#
# !!ls *.c | sed s/\.c$//
CMPLX
abort
abs
acos
acosh
alignas
aligned_alloc
alignof
asctime
asin
asinh
assert
atan
atanh
atexit
atof
atoi
bool
bsearch
btowc
c16rtomb
c16rtomb_surrogate
cabs
cacos
cacosh
carg
casin
casinh
catan
catanh
cbrt
ccos
ccosh
cexp
cimag
clock
clog
conj
copysign
cos
cosh
cpow
cproj
creal
csin
csinh
csqrt
ctan
ctanh
ctime
difftime
div
errno
exit
exp
exp2
expm1
fabs
fclose
fdim
feclearexcept
fegetenv
fegetexcept
fegetround
feholdexcept
feof_ferror
feraiseexcept
fetestexcept
feupdateenv
fflush
fgetpos
fgets
fgetws
float
fma
fmin_fmax
fmod
fopen
fpclassify
fputwc
fputws
fread
free
freopen
frexp
fseek
ftell
fwide
fwide2
fwrite
getc
getenv
getwc
gmtime
ilogb
imaxabs
imaxdiv
isalnum
isalpha
isblank
iscntrl
isdigit
isfinite
isgraph
isgreater
isinf
islessgreater
islower
isnan
isnormal
iso646
isprint
ispunct
isspace
isunordered
isupper
iswalnum
iswalpha
iswblank
iswcntrl
iswctype
iswdigit
iswgraph
iswlower
iswprint
iswspace
iswupper
iswxdigit
isxdigit
iwpunct
ldexp
limits
localeconv
localtime
log
log10
log1p
log2
logb
lrint
lround
malloc_calloc
max_align_t
mblen
mbrlen
mbrtoc
mbrtoc_surrogate
mbrtowc
mbsinit
mbsrtowcs
mbsrtowcs2
mbstowcs
mbtowc
memcpy_memmove
memset
mktime
modf
nan
nextafter
nexttoward
noreturn
offsetof
perror
printf
ptrdiff_t
putc
puts
putwchar
qsort
raise
rand
realloc
remainder
remove
remquo
rename
round
scalbn
scanf
setbuf
setjmp
setlocale
signal
signbit
sin
sinh
size_t
srand
static_assert
strcat
strchr
strcmp
strcoll
strcpy
strerror
strftime
strlen
strpbrk
strspn
strstr
strtod
strtoimax
strtok
strtol
strxfrm
system
tan
tanh
tgmath
time
timespec_get
tmpfile
tmpnam
tolower
toupper
towctrans
towlower
towupper
trunc
ungetc
ungetwc
va_arg
va_copy
va_end
va_start
vprintf
vscanf
vwprintf
vwscanf
wcrtomb
wcscat
wcschr
wcscmp
wcscoll
wcscpy
wcsftime
wcslen
wcspbrk
wcsrtombs
wcsrtombs2
wcsspn
wcsstr
wcstod
wcstoimax
wcstok
wcstol
wcstombs
wcsxfrm
wctomb
wctrans
wctype
wmemcpy
wprintf
wscanf
