# Generate with
#
# !!ls *.c | sed s/\.c$//
alignof_demo
alloc_alignedalloc
alloc_mallocfree
alloc_readline
alloc_realloc
arrays_2dinit
arrays_arrayptr
arrays_func2d
arrays_funcmod
arrays_indexing
arrays_init
arrays_oob
arrays_passfunc
complex_compare
complex_demo
cpp_1argmacro
cpp_assert
cpp_define
cpp_ifdef
cpp_ifdefelse
cpp_ifelif
cpp_ifndef
cpp_mandatorymacros
cpp_multiline
cpp_quadratic
cpp_stringify
cpp_undef
cpp_vaargs
env_argcargv
env_argvadder
env_argvadder2
env_argvmult
env_env
env_environ
env_getenv
exit_atexit
exit_atquickexit
fileio_fgetc
fileio_fgetcloop
fileio_fgets
fileio_fread
fileio_fscanf
fileio_fwrite
fileio_output
fixedwidth_print
funcspec_noreturn
functions_hello
functions_plus1
functions_prototype
goto_demo
goto_tco
intro_hello
pointers2_arrayequiv
pointers2_memcpy
pointers2_memcpyint
pointers2_mystrlen
pointers2_qsort
pointers3_objrepr
pointers3_ptrfun2
pointers3_ptrfun
pointers3_ptrptr
pointers_addrof
pointers_byref
pointers_deref
scope_block
scope_forhiding
scope_global
scope_hiding
setjmp_demo
signal_inthandler2
signal_inthandler
signal_sigign
strings2_oneline
strings_arrayequiv
strings_arrayinit
strings_ptrcopy
strings_strcpy
strings_strlen
structs2_arrayinit
structs2_bitfields
structs2_commoninitseq
structs2_llist
structs2_nestedinit2
structs2_nestedinit
structs2_offsetof
structs2_padding
structs2_punning
structs2_return
structs2_unionptr
structs_passfunc
time_difftime
time_strftime
types2_char
types2_charint
types2_sigfigs
types3_atof
types3_badchar
types3_snprintf
types3_strtoulbin
types3_strtoul
types4_staticvar
types5_generic
types5_printval
types5_unnamedptr
types5_unnamedstruct
unicode_sizecmp
unicode_sizecmpmbs
variadic_add
variadic_myprintf
var_stat_if
var_stat_print
vla_demo1
vla_partial2d
vla_passfunc
vla_passmultidim
vla_ptrarith
vla_typedef
