# Generate with
#
# !!ls *.c | sed s/\.c$//
alloc_alignedalloc
alloc_mallocfree
alloc_readline
alloc_realloc
arrays_2dinit
arrays_arrayptr
arrays_func2d
arrays_funcmod
arrays_indexing
arrays_init
arrays_oob
arrays_passfunc
fileio_fgetc
fileio_fgetcloop
fileio_fgets
fileio_fread
fileio_fscanf
fileio_fwrite
fileio_output
functions_hello
functions_plus1
functions_prototype
intro_hello
pointers2_arrayequiv
pointers2_memcpy
pointers2_memcpyint
pointers2_mystrlen
pointers2_qsort
pointers_addrof
pointers_byref
pointers_deref
scope_block
scope_forhiding
scope_global
scope_hiding
strings_arrayequiv
strings_arrayinit
strings_ptrcopy
strings_strcpy
strings_strlen
structs_passfunc
types2_char
types2_charint
types2_sigfigs
types3_atof
types3_badchar
types3_snprintf
types3_strtoulbin
types3_strtoul
var_stat_if
var_stat_print

