Redirect 301 /guide/bgc/html/single https://beej.us/guide/bgc/html/
Redirect 301 /guide/bgc/html/single/ https://beej.us/guide/bgc/html/
Redirect 301 /guide/bgc/html/single/index.html https://beej.us/guide/bgc/html/
Redirect 301 /guide/bgc/html/multi https://beej.us/guide/bgc/html/
Redirect 301 /guide/bgc/html/multi/ https://beej.us/guide/bgc/html/
RedirectMatch 301 /guide/bgc/html/multi/.*\.html https://beej.us/guide/bgc/html/
Redirect 301 /guide/bgc/pdf/bgc_USLetter.pdf https://beej.us/guide/bgc/pdf/bgc_usl_c_1.pdf
Redirect 301 /guide/bgc/pdf/bgc_USLetter_2.pdf https://beej.us/guide/bgc/pdf/bgc_usl_c_2.pdf
Redirect 301 /guide/bgc/pdf/bgc_A4.pdf https://beej.us/guide/bgc/pdf/bgc_a4_c_1.pdf
Redirect 301 /guide/bgc/pdf/bgc_A4_2.pdf https://beej.us/guide/bgc/pdf/bgc_a4_c_2.pdf
